<!DOCTYPE html>
<html>
  <head>
    <title>Tienda</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 

  <body>

    <ul>

      <li><img src="https://i.ibb.co/vq53NVk/uvm.png" width="60" height="60"></img></li>
        <li><a href='/index'><i><b>Menu Principal</b></i></a></li>
        <li><a href='/compra'><i><b>Compras</b></i></a></li>
        <li><a href='/Empleado'><i><b>Empleados</b></i></a></li>
        <li><a href='/Pedidos'><i><b>Pedidos</b></i></a></li>
        <li><a href='/Producto'><i><b>Productos</b></i></a></li>
        <li><a href='/Proveedor'><i><b>Proveedor</b></i></a></li>
        <li><a href='/Tienda'><i><b>Tienda</b></i></a></li>
        <li><a href='/ventas'><i><b>Ventas</b></i></a></li> 
        <li><a href='/Login'><i><b>Login</b></i></a></li> 
     
    </ul>

  
    <div class="form">
      
      <form>
          <h1 class="h1">Universidad Valle Momboy</h1>
          <h2 class ="h2"><b>Entorno y Sesiones</b></h2>
          <img class = "h2Portada" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOdXN8buC3CJbe2GupIOPk_bRzV1luHR42QA&usqp=CAU" alt="Entorno y Sesiones">
          <h3 class="h3">Integrantes:</h3>
          <h2 class ="miembros">Alfonso Castellano</h2>
          <h2 class ="miembros">Adolfo Ochoa</h2>
          <h2 class ="miembros">Fernando Colmenares </h2>
          <h2 class ="miembros">Yetzenia Mendoza </h2>
          <h3 style="text-align: right;">
            <i> 
            <b>
            Materia: Backend
            Tutor: Roberto Di Michele
            </b>
            </i>
          </h3>
          <h2><i><b>Valera 2023</b></i></h2>
      </form>
    
    </div>


  </body>
</html>
