<!DOCTYPE html>
<html>
  <head>
    <title>Tienda</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="https://i.ibb.co/kXMPtKN/Screenshot-1.png" type="png" size=20px>
  </head>
  <body>
    <ul>
      <ul>
        <li><img src="/images/uvm.png" width="60" height="60"></img></li>
        <li><a href='/index'><i><b>Menu Principal</b></i></a></li>
        <li><a href='/Compra'><i><b>Compras</b></i></a></li>
        <li><a href='/Empleado'><i><b>Empleados</b></i></a></li>
        <li><a href='/Pedidos'><i><b>Pedidos</b></i></a></li>
        <li><a href='/Producto'><i><b>Productos</b></i></a></li>
        <li><a href='/Proveedor'><i><b>Proveedor</b></i></a></li>
        <li><a href='/Tienda'><i><b>Tienda</b></i></a></li>
        <li><a href='/ventas'><i><b>Ventas</b></i></a></li> 
  
      </ul>
    </ul>
    <div style = "text-align: center;">
      <img src="https://i.ibb.co/vq53NVk/uvm.png" width="200" height="200"></img>
    </div>


  <h1 class="h1"style="text-align:center"> Sistema de Reservas</h1>

  <table class="table_equipo" id="customers">
    <tr>
      <th>Id_tienda </th>    
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Telefono</th>
    </tr>
    <% resp.forEach(r => { %>
      <tr>
        <td><%= r.Id_tienda%></td>
        <td><%= r.Nombre_tienda%></td>
        <td><%= r.Direccion_tienda%></td>
        <td><%= r.Telefono_tienda%></td>
      </tr>
  <% }) %>
</table>
  </body>
</html>
