body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(145, 62, 91);
  justify-content: center;
}

a {
  color: #deedf3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #845252;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
}

.active {
  background-color: #04AA6D;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

  .table_equipo {
    border-collapse: collapse;
    background-color: rgb(203, 227, 249);
    margin-left: auto;
    margin-right: auto;
  }
  .table_equipo, th, td {
    border: 3px solid  rgb(0, 0, 0);
  }


  .form {
    display: inline-block ; 
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border: solid;  
    background-color: rgb(238, 144, 197)
  }

  div.form
  {
       margin-top: 10px;
       margin-left: 380px;
       margin-right: 380px;
       margin-bottom: auto;
      display:block;
      text-align: center;
      top: 50px;

  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 10%;
    border-radius: 10%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

  body {font-family: Arial, Helvetica, sans-serif;}
  form {border: 3px solid #f1f1f1;}


  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid rgb(238, 144, 197);
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #dd267b;
    color: white;
  }

 